*,*::after,*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    transition: all 300ms;
    font-family: 'Nova Square', sans-serif;
    user-select: none;
    height: 100vh;
    font-size: 18px;
    display: grid;
    grid-template-areas:
        "top-left top top-right"
        "middle-left middle middle-right"
        "bottom-left bottom bottom-right";
    grid-template-columns: 1fr 200px 1fr;
    justify-items: center;

}
/* counter */
.counting-div{
    grid-area: middle;
    display: grid;
    margin: auto;
    grid-template: 80px 1fr/ 1fr 21px;
}
.counting-number{
    font-size: 7rem;
    display: inline-block;
}
.tour-number{
    display: inline-block;
    grid-area: 4/2/span 1/span 1;
}

/* tours */
.tour-div{
    grid-area: bottom;
    margin: auto auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    /* font-size: 1.2rem; */

}

.white{
    border-bottom:2px solid #f9f9f9;
}
.dark{
    border-bottom:2px solid #292929;
}
.tour-div h2,i{
    padding: 1rem;
    font-size: 1.5rem;

}
/* .tour-div *:hover{
    background-color: grey;}
 */

.dark-back{
    background-color: #292929;
    color: #f9f9f9;
}
.white-back{
    background-color: #f9f9f9;
    color:#292929;

}
/* .tour-number:hover{
    background-color: grey;
} */